﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--ADAL Libraries-->
    <!--<script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.0/js/adal.min.js"></script>
    <script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.0/js/adal-angular.min.js"></script>-->

    <link rel="stylesheet" href="Content/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="Content/bootstrap-theme.css" type="text/css" />
    <link rel="stylesheet" href="Content/ng-table.min.css"/>
    <link href="Scripts/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="Scripts/angular-chart/dist/angular-chart.css" rel="stylesheet" />
    <link href="Content/ForgeStyle.css" rel="stylesheet" />
   
    <title>BSK Associates: Forge</title>
</head>
<body ng-app="Forge">
    <div loading></div>
    <div class="navbar navbar-default navbar-fixed-top" data-ng-controller="IndexController">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">
                    <!--<img style="max-width:100px; margin-top: -12px;" src="Content/Images/prodigy logo.png" />-->
                </a>
                <a class="navbar-brand">DeV</a>
            </div>
            
            <div class="collapse navbar-collapse" id="navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-left" style="padding-right:25px;">
                    <!--<li ng-if="userInfo.isAuthenticated"><a ng-href="#/Admin/Projects">Admin</a>-->
                    <li ng-if="userInfo.isAuthenticated"><a href="#/Dispatch">Dispatches</a></li>
                    <li ng-if="userInfo.isAuthenticated"><a href="#/UpsertDispatch">Create Dispatch</a></li>
                    <li ng-if="userInfo.isAuthenticated"><a href="#/AssignDispatch">Assign Dispatches</a></li>
                    <li ng-if="userInfo.isAuthenticated"><a href="#/Inspectors">Inspector Info</a></li>
                
                </ul>
                <ul class="nav navbar-nav navbar-right" style="padding-right:25px;">
                    <!--<li ng-if="userInfo.isAuthenticated"><a ng-href="#/Admin/Projects">Admin</a>-->
                    <li ng-if="userInfo.isAuthenticated"><a href="#/">Welcome {{userInfo.profile.given_name}}</a></li>
                    <li ng-if="userInfo.isAuthenticated"><a href="" data-ng-click="logOut()">Logout</a></li>
                    <li ng-if="!userInfo.isAuthenticated"><a href="" data-ng-click="LogIn()">Login</a></li>
                </ul>
            </div>
        </div>
    </div><!--End .navbar-->
    <div class="container">



        <div style="margin-top: 10%;" ng-view></div>
        <div class="watermark">Dev</div>
    </div>
    <footer class="footer navbar-fixed-bottom">
        <div class="container">
            <div class="text-center">
                <div class="row"><p class="text-muted"><strong>a service of <img style="max-width:50px; margin-left: 0px; margin-right: 0px; margin-top: -3px; padding: 0;" src="Content/Images/Just BSK.png" />Associates</strong></p></div>
                <div class="row"><p class="text-muted">Copyright
                <script>document.write(new Date().getFullYear())</script></p></div>
            </div>
        </div>
    </footer>
    
    
    <!--Scripts-->
    <!--<script src="Scripts/jquery-1.9.1.js"></script>
    <script src="Scripts/jquery-ui-1.11.4.js"></script>-->
    <script src="Scripts/moment.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-cookies.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="Scripts/angular-ui-calendar/src/calendar.js"></script>

  
    <!--<script src="Scripts/bootstrap.js"></script>-->
   
    <script src="Scripts/adal-angular.js"></script>
    <script src="Scripts/adal.js"></script>
    <script src="Scripts/ngAutocomplete.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&sensor=false"></script>
    <script src="Scripts/ngAutocomplete.js"></script>
    <script src="Scripts/ui-mask-master/mask.min.js"></script>
    <script src="Scripts/underscore.min.js"></script>
    <script src="Scripts/angular-underscore-module.js"></script>
    <script src="Scripts/angular-moment.js"></script>
   
    
  
  

    <!-- App related files -->
    <script src="app.js"></script>
   
    <!--Services-->

    <script src="services/AlertServices.js"></script>
    <script src="services/BranchServices.js"></script>
    <script src="services/BreadCrumbsService.js"></script>
    <script src="services/CertificationService.js"></script>
    <script src="services/CertificationTypeService.js"></script>
    <script src="services/ContactInfoService.js"></script>
    <script src="services/ContactInfoType.js"></script>
    <script src="services/ContactService.js"></script>
    <script src="services/DispatchQuestionService.js"></script>
    <script src="services/DispatchService.js"></script>
    <script src="services/InspectionTypeQuestionService.js"></script>
    <script src="services/InspectionTypeService.js"></script>
    <script src="services/InspectorScheduleService.js"></script>
    <script src="services/InspectorService.js"></script>
    <script src="services/ProjectServices.js"></script>
    <script src="services/ScheduleTypeService.js"></script>
    <script src="services/StorageService.js"></script>
    <script src="services/UserServices.js"></script>

    <!--Directives-->
    <script src="directives/breadcrumbs.js"></script>
    <script src="directives/loadingOverlay.js"></script>
    <script src="directives/validation.js"></script>
    <script src="directives/localtimeformat.js"></script>
   

     <!--Contollers-->   

    <script src="controllers/AddProjectController.js"></script>
    <script src="controllers/AssignDispatchController.js"></script>
    <script src="controllers/DispatchController.js"></script>
    <script src="controllers/HomeController.js"></script>
    <script src="controllers/IndexController.js"></script>
    <script src="controllers/InspectorController.js"></script>
    <script src="controllers/LoginController.js"></script>
    <script src="controllers/TestController.js"></script>
    <script src="controllers/UpsertDispatchController.js"></script>
    <script src="controllers/InspectorContactController.js"></script>
    <script src="controllers/InspectorCertificationsController.js"></script>
    <script src="controllers/InspectorTimeOffController.js"></script>
    <script src="controllers/DispatchContactController.js"></script>
    <script src="controllers/RecurringDispatchController.js"></script>

</body>
</html>
