﻿<!--View Start-->
<div class="col-sm-3 alert-notification">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<div class="row">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Inspection Type</th>
                <th>Address</th>
                <th>Start Time</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody ng-repeat="dispatch in dispatches | orderby: 'DispatchDate':true" ></tbody>


    </table>

</div>









<pre>dispatches  {{dispatches | json}}</pre>

<pre>availableTechs  {{availableTechs | json}}</pre>



