﻿<!--Contact Info Modal-->
<div class="modal">
    <!-- modal starts-->
    <script type="text/ng-template" id="dispatchcontact.html">
        <div class="modal-header">
            <button class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Dispatch Contact</h3>
        </div>        <!--/.modal-header-->
        <div class="modal-body">
            <form name="DispatchContact">
                <div class="row">
                    <div class="col-sm-12">
                        <span> {{dispatch.DispatchContact.DisplayName}}</span>
                    </div>
                    <div class="col-sm-12">
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat="contactInfo in dispatch.DispatchContact.ContactInfos">
                                    <td>
                                        <input type="text" class="form-control" ng-model="contactInfo.Description" ng-disabled="true" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="contactInfo.InfoValue" ng-hide="contactInfo.Description ==='Email'" ui-mask="(999) 999-9999" ng-disabled="true" />
                                        <input type="text" class="form-control" ng-model="contactInfo.InfoValue" ng-hide="contactInfo.Description !=='Email'" ng-disabled="true" />
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </form>
        </div>
        <!--/.modal-body-->
        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-offset-6 col-sm-2">
                    <button class="btn btn-warning" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </script>

</div>

<div class="modal">
    <!-- modal starts-->
    <script type="text/ng-template" id="dispatchinfo.html">
        <div class="modal-header">
            <button class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Dispatch Contact</h3>
        </div>        <!--/.modal-header-->
        <div class="modal-body">
            <form name="Additional Info">
               

            </form>
        </div>
        <!--/.modal-body-->
        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-offset-6 col-sm-2">
                    <button class="btn btn-warning" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </script>

</div>

<!--Duplicate Dispatch template-->
<script type="text/ng-template" id="duplicatedispatch.html">
    <div class="form-group">
        <label>Copy to New Date</label>
        <div class="row">
        <div class="input-group">
                <div class="input-group">
                    <input type="text" class="form-control" datepicker-popup={{format}} ng-model="duplicatePopover.selectedDate" is-open="opened" show-weeks="false" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <input type="checkbox" ng-model="keepInspector">
            <label>Keep Inspector</label>
        </div>
        <div class="row">
            <button ng-click="CopyDispatch()" class="btn btn-success btn-sm has-feedback" >Copy</button>
            <button ng-click="ClosePopover()" class="btn btn-success btn-sm has-feedback">Close</button>
        </div>
    </div>
</script>

<!--View Start-->
<div class="col-sm-3 alert-notification">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>


<div class="col-sm-12">

    <div class="col-sm-offset-11">
        <button ng-click=go("/UpsertDispatch") class="btn btn-primary btn-sm has-feedback"><span class="glyphicon glyphicon-plus"></span>Create Dispatch</button>
    </div>
</div>

<!--Begin Date Picker-->
<div class="row">
    <div class="col-sm-12">
        <label>Display Dispatches for:</label>

        <div class="btn-group">
            <label class="btn btn-success" ng-model="radioModel" ng-change="LoadDispatches()" btn-radio="'TodayOnly'">Today</label>
            <label class="btn btn-success" ng-model="radioModel" ng-change="LoadDispatches()" btn-radio="'Week'">This Week</label>
            <label class="btn btn-success" ng-model="radioModel" ng-change="LoadDispatches()" btn-radio="'NextTwo'">Next 2 Weeks</label>
            <label class="btn btn-success" ng-model="radioModel" ng-change="LoadDispatches()" btn-radio="'Month'">Current Month</label>
            <label class="btn btn-success" ng-model="radioModel" ng-change="LoadDispatches()" btn-radio="'ThreeMonths'">Three Months</label>
        </div>


    </div>
</div>

<div class="col-sm-6">
    <input type="checkbox" ng-model="showAllBranches" ng-change="LoadDispatches()">
    <label>Show All Braches</label>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Assigned Inspector</th>
                    <th ng-if="showAllBranches">Branch</th>
                    <th>Job Number</th>
                    <th>Project Name</th>
                    <th>Inspection Type</th>
                    <th>Start Time</th>
                    <th>Duration</th>
                    <th></th>

                </tr>
            </thead>
            <tbody ng-repeat="(GroupByDate, dispatches) in groupedDispatches">
                <tr>
                    <td colspan="12">{{GroupByDate}}</td>
                </tr>
                <tr ng-repeat="dispatch in dispatches">
                    <td>
                        <button class="btn btn-sm  btn-default" ng-init="dispatch.popoverIsOpen = false"
                                uib-popover-template="duplicatePopover.templateUrl"
                                popover-popup-delay="200ms" type="button"
                                popover-is-open ="dispatch.popoverIsOpen"
                                ng-click="SetSelectedDispatch(dispatch)">
                            Copy
                        </button>

                        <a ng-href="#/UpsertDispatch/{{dispatch.DispatchID}}" class="btn btn-sm btn-info">Edit</a>
                       
                    </td>

                    <td ng-style="SetColor(dispatch)">{{dispatch.AssignedInspector}}</td>
                    <td ng-if="showAllBranches">{{dispatch.Branch}}</td>
                    <td>{{dispatch.JobNumber}}</td>
                    <td>{{dispatch.ProjectName}}</td>
                    <td>{{dispatch.InspectionTypeDesc}}</td>
                    <td>{{dispatch.StartTime}}</td>
                    <td>{{dispatch.Duration}} hrs</td>
                    <td>
                        <button ng-click="" class="btn btn-success btn-sm has-feedback">Additional Info</button>
                        <button ng-click="ContactInfo(dispatch)" class="btn btn-primary btn-sm has-feedback">Contact info</button>
                        <button ng-click="" class="btn btn-danger btn-sm has-feedback">Delete </button>
                    </td>


                </tr>
            </tbody>

        </table>
    </div>
</div>
<pre>SelectedDispatch{{selectedDispatch | json}}</pre>