﻿<div class="well text-center">
    <h1>Prodigy</h1>
    <div class="row">
        <a class="btn btn-wide btn-primary btn-lg" href="#/Projects">Project Setup</a>
    </div>
    <div>
        <div>
            Hello <span ng-model="currentUser" ng-bind="currentUser.UserName"></span>!
        </div>

    </div>
    <!--<div class="row">
        <a class="btn btn-wide btn-primary btn-lg" href="#/Scheduler">SB4 Scheduler</a>
    </div>-->
</div>
