<!--Contact Info Modal-->
<div class="modal">
    <!-- modal starts-->
    <script type="text/ng-template" id="inspectorcontact.html">
        <div class="modal-header">
            <button class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Inspector Contact</h3>
            <p>Conctact data is managed via DelTek</p>
        </div>        <!--/.modal-header-->
        <div class="modal-body">
            <form name="InspectorContact">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="form-control">{{inspector.FirstName}} {{inspector.LastName}}</label>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat="contactInfo in inspector.InspectorContactInfoes">
                                    <td>
                                        <input type="text" class="form-control" ng-model="contactInfo.ContactTypeDesc" ng-disabled="true" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="contactInfo.InfoValue" ng-hide="contactInfo.ContactTypeDesc ==='Email'" ui-mask="(999) 999-9999" ng-disabled="true" />
                                        <input type="text" class="form-control" ng-model="contactInfo.InfoValue" ng-hide="contactInfo.ContactTypeDesc !=='Email'" ng-disabled="true" />
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </form>
        </div>
        <!--/.modal-body-->
        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-offset-6 col-sm-2">
                    <button class="btn btn-warning" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </script>

</div>

<!--Certifications Modal-->
<div class="modal">
    <!-- modal starts-->
    <script type="text/ng-template" id="inspectorcertifications.html">
        <div class="modal-header">
            <button class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Inspector Certifications</h3>
        </div>        <!--/.modal-header-->
        <div class="modal-body">
            <form name="InspectorCerts">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="form-control">{{inspector.FirstName}} {{inspector.LastName}}</label>

                    </div>
                </div>
                <div class="col-sm-offset-9">
                    <button type="button" class="btn btn-primary btn-sm has-feedback" ng-click="isCollapsed = !isCollapsed">Add New Certification</button>
                </div>
                <div collapse="isCollapsed">
                    <div class="well well-lg">
                        <div class="row">
                            <div class="col-sm-6">
                                <select class="form-control dropdown" ng-model="selectedCertification.CertificationTypeID" ng-options="certificationType.ID as certificationType.Description for certificationType in certificationTypes" dropdown><option value="">-- Select Certification Type --</option></select>
                            </div>
                            <div class="col-sm-6">

                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" placeholder="Expiration Date" ng-model="selectedCertification.ExpirationDate" is-open="opened" show-weeks="false" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" ng-model="selectedCertification.Notes" placeholder="Notes">
                            </div>
                        </div>
                        <br />
                        <div class="col-sm-offset-10">
                            <button class="btn btn-success" ng-click="SaveCertification()">Save</button>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row" ng-repeat="inspCertification in inspector.Certifications">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="inspCertification.CertificationTypeDesc" ng-disabled="true">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-disabled="true" value="{{inspCertification.ExpirationDate | date:'MM/dd/yyyy'}}">
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-info" ng-click="EditCertification(inspCertification)">Edit</button>
                    </div>

                </div>
            </form>
        </div>
        <!--/.modal-body-->
        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-offset-10 col-sm-2">
                    <button class="btn btn-warning" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>

    </script>

</div>

<!--Vacation Schedule Modal-->
<div class="modal">
    <!-- modal starts-->
    <script type="text/ng-template" id="inspectortimeoff.html">
        <div class="modal-header">
            <button class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Inspector Schedule</h3>
        </div>        <!--/.modal-header-->
        <div class="modal-body">
            <form name="InspectorTimeOff">
              
                <div class="row">
                    <div class="col-sm-12">
                        <label class="form-control">{{inspector.FirstName}} {{inspector.LastName}}</label>

                    </div>
                </div>
                <div class="col-sm-offset-10">
                    <button type="button" class="btn btn-primary btn-sm has-feedback" ng-click="isCollapsed = !isCollapsed">Schedule Time Off</button>
                </div>
                <div collapse="isCollapsed">
                    <div class="well well-lg">
                        <table>
                            <thead>
                                <tr>
                                    <th>Schedule Type</th>
                                    <th>Date</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select class="form-control dropdown" ng-model="selectedSchedule.ScheduleTypeID" ng-options="scheduleType.ID as scheduleType.Description for scheduleType in scheduleTypes" dropdown><option value="">Select Schedule Type</option></select>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control" datepicker-popup="{{format}}" placeholder="Date" ng-model="selectedSchedule.ScheduleDate" is-open="opened" show-weeks="false" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>

                                    </td>
                                    <td>
                                        <input type="time" ng-model="selectedSchedule.EstimatedStartTime" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="time" ng-model="selectedSchedule.EstimatedEndTime" class="form-control" />
                                    </td>
                                    <td>
                                        <button class="btn btn-success" ng-click="SaveSchedule()">Save</button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Display Schedule for week including:</label>
                        <p class="input-group">
                            <input type="text" class="form-control col-md-3"
                                   datepicker-popup="{{format}}"
                                   ng-model="filterDate"
                                   ng-change="ReloadSchedules()"
                                   is-open="openedFilter"
                                   close-on-date-selection="true"
                                   datepicker-options="dateOptionsFilter"
                                   date-disabled="disabled(date, mode)"
                                   show-button-bar="false"
                                   show-weeks="true" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="openFilter($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
             
                <div class="row">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Schedule Date</th>
                                <th>Project Description</th>
                                <th>Schedule Type</th>
                                <th>Start Time</th>
                                <th>End Time</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="inspectorSchedule in inspectorSchedules">
                                <td>

                                    <input type="text" ng-model="inspectorSchedule.ScheduleDate" class="form-control" ng-disabled="true" localdateformat />
                                </td>
                                <td>
                                    <input type="text" ng-model="inspectorSchedule.ProjectDesc" class="form-control" ng-disabled="true">
                                </td>
                                <td>
                                    <input type="text" ng-model="inspectorSchedule.ScheduleTypeDescription" class="form-control" ng-disabled="true">
                                </td>
                                <td>
                                    <input type="text" ng-model="inspectorSchedule.EstimatedStartTime" class="form-control" ng-disabled="true" localtimeformat />
                                </td>
                                <td>
                                    <input type="text" ng-model="inspectorSchedule.EstimatedEndTime" class="form-control" ng-disabled="true" localtimeformat />
                                </td>
                                <td>
                                    <button class="btn btn-danger" ng-click="DeleteSchedule(inspectorSchedule)" ng-if="inspectorSchedule.ProjectDesc === ''">Delete</button>
                                </td>
                                <td>
                                    <button class="btn btn-info" ng-click="EditSchedule(inspectorSchedule)">Edit</button>

                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </form>
        </div>
        <!--/.modal-body-->
        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-offset-10 col-sm-2">
                    <button class="btn btn-warning" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </script>

</div>



<!--View Start-->

<div class="col-sm-3 alert-notification ">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<div class="row">
    <input type="checkbox" ng-model="displayAllInspectors" ng-change="GetAllInpectors()"><label>Display All Branches</label>
    <div class="form-group has-feedback">
        <input type="text" ng-model="search" class="form-control" />
        <i class="glyphicon glyphicon-search form-control-feedback"></i>
    </div>
</div>
<div class="row">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Branch</th>
                <th>City</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="inspector in inspectors | filter:search:strict">
                <td>
                    {{inspector.FirstName}}
                </td>
                <td>
                    {{inspector.LastName}}
                </td>
                <td>
                    {{inspector.BranchDesc}}

                </td>
                <td>
                    {{inspector.City}}

                </td>
                <td>
                    <button ng-click="ContactInfo(inspector)" class="btn btn-primary btn-sm has-feedback">Contact info</button>

                </td>
                <td>
                    <button ng-click="Certifications(inspector)" class="btn btn-info btn-sm has-feedback">Certifications</button>
                </td>
                <td>
                    <button ng-click="ScheduleVacation(inspector)" class="btn btn-success btn-sm has-feedback">Schedule Vacation Sick Time</button>

                </td>
            </tr>
        </tbody>
    </table>
</div>
