﻿<!--Modal Start-->
<div class="modal">
    <script type="text/ng-template" id="UpsertEvent.html">
        <div class="modal-header">
            <button class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Add Event</h3>
        </div><!--/.modal-header-->
        <div class="modal-body">
        <form name="EventForm">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <select class="form-control" ng-model="SelectedEventType" ng-options="event as event.Description for event in EventTypes" ng-change="LoadRelaventData()" dropdown><option value="">-- Select Event Type --</option></select>
                </div>
            </div>
            <div ng-if="SelectedEventType.EventTypeID == 1"><!--Input for Oil Well Stimulation-->
            <h3>Schedule Stimulation</h3>
                <div class="row">
                    
                    <div class="col-sm-offset-1 col-sm-10">
                        <select class="form-control" ng-model="Selected.OilField" ng-options="OilField as OilField.FieldName for OilField in OilFields" ng-change="LoadOilFieldOilWells(Selected.OilField)" dropdown ng-disabled="OilFields.length <= 0 || OilFields.length == null"> <option value="">-- Select Oil  Field --</option></select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <select class="form-control" ng-model="Selected.OilWell" ng-options="OilWell as (OilWell.Name + ((OilWell.APINumber != null) ? (' / ' + OilWell.APINumber) : '')) for OilWell in OilWells | filter:{ScheduledStimulationDate: null}:strict" dropdown ng-disabled="OilWells.length <= 0 || OilWells.length == null"><option value="">-- Select Production Well --</option></select>
                    </div>
                </div>
                
            </div><!--End Input for Oil Well Stimulation-->
            <div ng-if="SelectedEventType.EventTypeID == 2 && SelectedEventType.ID == 5"><!--Input for Sample Location Sample-->
            <h3>Schedule Sampling for Single Sample Location</h3>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <input class="form-control" ng-model="Event.Description" placeholder="Description" text/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <select class="form-control" ng-model="Selected.SampleLocation" ng-options="samplelocation as samplelocation.BSKSampleID for samplelocation in SampleLocations" dropdown ng-disabled="SampleLocations.length <= 0 || SampleLocations.length == null"><option value="">-- Select Sampling Location --</option></select>
                    </div>
                </div>
                
            </div><!--End-->
            <div ng-if="SelectedEventType.EventTypeID == 2 && SelectedEventType.ID == 6"><!-- Input for Monitoring Unit Ad hoc sampling-->
            <h3>Schedule Sampling for Monitoring Unit</h3>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <select class="form-control" ng-model="Selected.OilField" ng-options="OilField as OilField.FieldName for OilField in OilFields" ng-change="LoadOilFieldMonitoringUnits(Selected.OilField)" dropdown ng-disabled="OilFields.length <= 0 || OilFields.length == null"> <option value="">-- Select Oil Field --</option></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <select class="form-control" ng-model="Selected.MonitoringUnit" ng-options="mu as mu.Name for mu in MonitoringUnits" dropdown ng-disabled="MonitoringUnits.lgnth <= 0 || MonitoringUnits.length == null"><option value="">-- Monitoring Unit --</option></select>
                    </div>
                </div>
                
            </div><!--End-->
            <div ng-if="SelectedEventType.EventTypeID == 5"><!--Input for Misc Event-->
            <h3>Create Miscellaneous Event</h3>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <input class="form-control" ng-model="Event.Description" placeholder="Description" text/>
                    </div>    
                </div>
                
            </div><!--End-->
            <div ng-if="SelectedEventType.EventTypeID != null">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <p class="input-group">
                            <input type="text" class="form-control" placeholder="MM/DD/YYYY" datepicker-popup="{{format}}" ng-model="DatePicker.dt" date is-open="DatePicker.opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            </form>
        </div><!--/.modal-body-->
        <div class="modal-footer">
            <div class="col-sm-offset-9 col-sm-3">
                <button class="btn btn-success" ng-if="!MonitoringUnit.ID" ng-click="AddScheduleEvent()" ng-disabled="EventForm.$invalid">Submit</button>
                <button class="btn btn-success" ng-if="MonitoringUnit.ID" ng-click="UpdateMonitoringUnit(MonitoringUnit)">Update</button>
            </div>
        </div>
    </script>
</div>
<!--Modal End-->

<!--Modal Start-->
<div class="modal">
    <script type="text/ng-template" id="UpdateStimulationEvent.html">
        <div class="modal-header">
            <button class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Update Stimulation Dates</h3>
        </div><!--/.modal-header-->
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <label>Start Date</label>
                    <p class="input-group">
                        <input disabled type="text" class="form-control" datepicker-popup="{{format}}" ng-model="ScheduledDate" is-open="DatePickers.ScheduledDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button ng-disabled="isComplete"  type="button" class="btn btn-default" ng-click="open($event, 'ScheduledDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <label>End Date</label>
                    <p class="input-group">
                        <input disabled type="text" class="form-control" datepicker-popup="{{format}}" ng-model="CompletedDate" is-open="DatePickers.CompletedDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" min-date="ScheduledDate" />
                        <span class="input-group-btn">
                            <button ng-disabled="isComplete" type="button" class="btn btn-default" ng-click="open($event, 'CompletedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>

        </div><!--/.modal-body-->
        <div class="modal-footer">
            <div class="col-sm-offset-9 col-sm-3" ng-if="!isComplete">
                <button class="btn btn-success" ng-click="UpdateStimulationDate()">Submit</button>
            </div>
            <div class="col-sm-offset-9 col-sm-3" ng-if="isComplete">
                <button class="btn btn-warning" ng-click="closeModal()">Close</button>
            </div>
        </div>
    </script>
</div>
<!--Modal End-->

<!--Modal Start-->
<div class="modal">
    <script type="text/ng-template" id="UpdateSampleEvent.html">
        <div class="modal-header">
            <button class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Included Sample Locations</h3>
        </div><!--/.modal-header-->
        <div class="modal-body">
           <div>
               <table class="table table-striped table-hover">
                   <tr ng-repeat="SampleLocation in SampleLocations">
                       <td class="col-sm-8">{{SampleLocation.BSKSampleID + ((SampleLocation.SampleLocationName != null) ? " / " + SampleLocation.SampleLocationName : "" )}}</td>
                       <td class="col-sm-4"> 
                       <div class="btn-group">
                           <button ng-click="LoadSamplingLocation(SampleLocation.SampleLocationID)" class="btn btn-sm btn-info">Results</button>
                           
                           <button ng-if="IsAdmin" ng-click="SampleThisLocation(SampleLocation.ID, SampleLocation.SampleLocationID)" class="btn btn-sm btn-info">Sample</button>
                           
                           </div>
                       </td>
                   </tr>
               </table>
               <!--<table class="table table-striped table-hover" ng-if="User.ClientID">
                   <tr ng-repeat="SampleLocation in SampleLocations">
                       <td>{{SampleLocation.BSKSampleID + ((SampleLocation.SampleLocationName != null) ? " / " + SampleLocation.SampleLocationName : "" )}}</td>
                   </tr>
               </table>-->
           </div>

        </div><!--/.modal-body-->
        <div class="modal-footer">
            <div class="col-sm-offset-9 col-sm-3">
                
            </div>
        </div>
    </script>
</div>
<!--Modal End-->

<!--View Start-->
<crumbs></crumbs>
<div ng-if="Projects.length > 1" class="row">
    <label>Select a Project</label>
    <select class="form-control" ng-options="project as project.ProjectName for project in Projects" ng-model="data.SelectedItem" ng-change="ReloadEvents(data.SelectedItem.ID)"></select>
</div>
<div class="row">
    <button ng-click="AddEvent()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Create Event</button>
</div>
<div class="row">
    
    <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="sources" calendar="SB4Calendar" ></div> 
</div>
<!--View End-->