﻿
<div class="modal">
    <!-- Add Project modal starts-->

    <script type="text/ng-template" id="addproject.html">
        <div class="modal-header">
            <button class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Add Temporary Project</h3>
        </div>
        <!--/.modal-header-->
        <div class="modal-body">
            <form name="ProjectForm">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <input type="text" ng-model="Project.JobNumber" class="form-control" placeholder="Job Number" value="n/a" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <input type="text" ng-model="Project.ProjectName" class="form-control" placeholder="Project Name" ng-required="true" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <input type="text" ng-model="Project.Description" class="form-control" placeholder="Project Decription " ng-required="true" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <input type="text" ng-model="Project.Note" class="form-control" placeholder="Project Notes" ng-required="true" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <input type="text" ng-model="vm.address.formattedAddress" ng-change="UpdateProject()" ng-fo class="form-control" ng-autocomplete details="vm.address" id="address" name="address" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-4">
                        <input type="text" ng-model="Project.City" class="form-control" placeholder="City" ng-required="true" required>
                    </div>

                    <div class=" col-sm-3">
                        <input type="text" ng-model="Project.State" class="form-control" placeholder="State" ng-required="true" required>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" ng-model="Project.ZipCode" class="form-control" placeholder="Zipcode" ng-required="true" required>
                    </div>
                </div>
            </form>
        </div>
        <!--/.modal-body-->
        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-2">
                    <button class="btn btn-success" ng-click="Add(Project)">Add</button>
                </div>
                <div class="col-sm-offset-6 col-sm-2">
                    <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
                </div>
            </div>
        </div>
    </script>
</div>

<div class="modal">
    <!-- Recurring modal starts-->

    <script type="text/ng-template" id="recurringdispatch.html">
        <div class="modal-header">
            <button class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Multi Day Dispatch</h3>
        </div>
        <!--/.modal-header-->
        <div class="modal-body">
            <form name="RecurringDispatch">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        Start Date
                    </div>
                    <div class="col-sm-offset-1 col-sm-10">
                        <input type="text" ng-model="startDate" class="form-control" placeholder="Start date" ng-readonly="true" localdateformat />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        End Date
                    </div>
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" placeholder="Dispatch End Date" ng-model="DuplicateDispatch.EndDate" is-open="opened" show-weeks="false" datepicker-options="dateOptions" ng-required="true" close-text="Close" min-date="startDate" required />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="input-group">
                            <input type="checkbox" ng-model="DuplicateDispatch.IncludeSaturday"><label>Include Saturday</label>
                        </div>
                        <div class="input-group">
                            <input type="checkbox" ng-model="DuplicateDispatch.IncludeSunday"><label>Include Sunday</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10" ng-if="dispatch.AssignedInspector === null">
                        <div class="input-group">
                            <input type="checkbox" ng-model="keepInspector"><label>Keep Assigned Inspector</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--/.modal-body-->
        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-2">
                    <button class="btn btn-success" ng-disabled="RecurringDispatch.$invalid" ng-click="CreateRecurring()">Submit</button>
                </div>
                <div class="col-sm-offset-6 col-sm-2">
                    <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
                </div>
            </div>
        </div>
    </script>
</div>

<!--Custom Typeahead formats-->
<script type="text/ng-template" id="projectSearch.html">
    <a>
        <span ng-bind-html="match.model.JobNumber | uibTypeaheadHighlight :query"></span>|
        <span ng-bind-html="match.model.ProjectName | uibTypeaheadHighlight :query"></span>|
        <span ng-bind-html="match.model.Address | uibTypeaheadHighlight :query"></span>
    </a>
</script>

<script type="text/ng-template" id="contactSearch.html">
    <a>
        <span ng-bind-html="match.model.DisplayName | uibTypeaheadHighlight :query"></span>|
        <span ng-bind-html="match.model.ContactInfo | uibTypeaheadHighlight :query"></span>
    </a>
</script>


<!--View Start-->
<div class="col-sm-3 alert-notification">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<h3>{{headerText}}</h3>
<div class="well">
    <h5>Project Information</h5>
    <div class="row" ng-if="!IsEdit">
        <div class="col-sm-10">
            <input type="text"
                   ng-model="selectedProject"
                   placeholder="Search for project by job number, name, or street address"
                   uib-typeahead="project as project.ProjectName for project in projects| filter:$viewValue | limitTo:8"
                   typeahead-template-url="projectSearch.html" class="form-control">
        </div>
        <div class="col-sm-1">
            <button ng-click="AddProject()" class="btn btn-primary btn-sm has-feedback"><span class="glyphicon glyphicon-plus"></span>Add Temp Project</button>
        </div>
    </div>

    <div class="row" ng-if="IsEdit">
        <div class="col-sm-12">
            <input type="text"
                   ng-model="Dispatch.ProjectName"
                   class=" form-control" ng-disabled="true" />
        </div>

    </div>

</div>

<div class="well">
    <h5>Date, Start Time and Duration</h5>

    <div class="row">
        <div class="col-sm-4">
            <label>Start Date:</label>
            <div class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" placeholder="Dispatch Start Date" ng-model="mytime" is-open="opened" show-weeks="false" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>

            </div>
        </div>

        <div class="col-sm-3">
            <label class="text-">Start Time:</label>
            <timepicker id="timepicker" ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-spinners="false" show-meridian="ismeridian"></timepicker>
        </div>
        <div class="col-sm-1">

        </div>
        <div class="col-sm-2">
            <label>Duration:</label>
            <input type="number" ng-model="Dispatch.Duration" class="form-control" placeholder="Hours per day" ng-required="true" required />
        </div>
    </div>

    <div class="row" ng-if="isRecurring && !IsEdit">
        <div class="col-sm-12">
            End Date
        </div>
        <div class="col-sm-4">
            <input type="text" ng-model="duplicateDispatch.EndDate" class="form-control" placeholder="End date" ng-readonly="true" localdateformat />
        </div>
        <div class="col-sm-3">
            <input type="checkbox" ng-model="duplicateDispatch.IncludeSaturday" ng-disabled="true"><label>Include Saturday</label>
        </div>
        <div class="col-sm-3">
            <input type="checkbox" ng-model="duplicateDispatch.IncludeSunday" ng-disabled="true"><label>Include Sunday</label>
        </div>

    </div>

    <div class="row" >
        <div class="col-sm-12" >
            <button type="button" class="btn btn-primary" ng-model="isRecurring" btn-ch uib-btn-checkbox ng-change="RecurringDispatch()" ng-hide="IsEdit">
                {{buttonLabel}}
            </button>
        </div>
    </div>
</div>
<div class="well" ng-if="!IsEdit">
    <h5>Inspection Type and Questions</h5>

    <div class="row">
        <div class="col-sm-12">
            <select class="form-control dropdown" ng-model="selectedInspectionType" ng-options="inspectiontype as inspectiontype.Description for inspectiontype in inspectiontypes" ng-change="LoadInspectionQuestions(selectedInspectionType)" dropdown><option value="">-- Select Inspection Type --</option></select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-repeat="inspectionquestion in inspectionquestions">
            <div class="col-sm-5">
                <label class="form-control">{{inspectionquestion.Question}}</label>
            </div>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="inspectionquestion.Response" placeholder="Response">
            </div>

        </div>
    </div>
</div>
<div class="well" ng-hide="!IsEdit">
    <h5>Inspection Type and Questions</h5>

    <div class="row">
        <div class="col-sm-12">
            <input type="text" class="form-control" ng-model="Dispatch.InspectionTypeDesc" ng-disabled="true">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-repeat="inspectionquestion in Dispatch.DispatchQuestions" ng-init="inspectionquestion.CanEdit = false">
            <div class="col-sm-4">
                <label class="form-control" ng-disabled="true" >{{inspectionquestion.QuestionText}}</label>
            </div>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="inspectionquestion.QuestionResponse" placeholder="Response" ng-disabled="!inspectionquestion.CanEdit">
            </div>
            <div class="col-sm-3">
                <button ng-model="inspectionquestion.CanEdit" class="btn btn-default btn-sm has-feedback" btn-ch uib-btn-checkbox >Edit</button>
                <button class="btn btn-default btn-sm has-feedback" ng-click="SaveQuestion(inspectionquestion)" ng-disabled="!inspectionquestion.CanEdit">Save</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="input-group">
            <input type="checkbox" ng-model="useProjectAddress" ng-change="SetDispatchProjectAddress()"><label>Use Project Address</label>
        </div>
    </div>
</div>
<div class="well">
    <h5>Address</h5>
    <div class="row">
        <div class="col-sm-12">
            <input type="text" ng-if="!useProjectAddress" ng-model="vm.address.formattedAddress" ng-change="SetDispatchAddress(useProjectAddress)" class="form-control" ng-autocomplete details="vm.address" id="address" name="address" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type="text" ng-model="Dispatch.Address" class="form-control" placeholder="Address" ng-required="true" required>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-6">
            <input type="text" ng-model="Dispatch.City" class="form-control" placeholder="City" ng-required="true" required>
        </div>

        <div class=" col-sm-4">
            <input type="text" ng-model="Dispatch.State" class="form-control" placeholder="State" ng-required="true" required>
        </div>
        <div class="col-sm-2">
            <input type="text" ng-model="Dispatch.ZipCode" class="form-control" placeholder="Zipcode" ng-required="true" required>
        </div>

    </div>
</div>


<div class="well">
    <h5>Contact Information</h5>
    <div class="row">
        <div class="col-sm-10">
            <input type="text" ng-model="selectedContact" placeholder="Search for Contact"
                   typeahead="contact as contact.DisplayName for contact in LoadContacts($viewValue)" typeahead-loading="loadingLocations" typeahead-template-url="contactSearch.html" typeahead-no-results="noResults" class="form-control">
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-primary btn-sm has-feedback" ng-model="showContactInfo" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="clearSelectedContact()">
                <span class="glyphicon glyphicon-plus"></span>New Contact
            </button>
        </div>
    </div>
    <br />
    <div class="well" ng-hide="!showContactInfo">
        <h6>New Contact Information</h6>

        <div class="row">
            <div class="col-sm-4">
                <input type="text" ng-model="missingContact.FirstName" class="form-control" placeholder="First Name">
            </div>
            <div class="col-sm-6">
                <input type="text" ng-model="missingContact.LastName" class="form-control" placeholder="Last Name">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <select class="form-control dropdown" ng-model="selectedContactInfoType" ng-options="contactInfoType as contactInfoType.Description for contactInfoType in contactInfoTypes" dropdown ng-change="clearInfoValue()"><option value="">-- Contact Type --</option></select>
            </div>
            <div class="col-sm-4" ng-hide="selectedContactInfoType.Description === 'Email'">
                <input type="text" ng-model="selectedContactInfoValue" class="form-control" ui-mask="(999) 999-9999">
            </div>
            <div class="col-sm-4" ng-hide="selectedContactInfoType.Description !== 'Email'">
                <input type="text" ng-model="selectedContactInfoValue" class="form-control" placeholder="Email">
            </div>
            <div class="col-sm-2">
                <input type="checkbox" ng-model="selectedContactPrimary"><label>Primary Contact</label>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary btn-sm has-feedback" ng-click="AddContactInfo()">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
            </div>
        </div>
        <div class="row" ng-repeat="contactInfo in missingContactInfos">

            <div class="col-sm-4">
                <input type="text" ng-model="contactInfo.description" class="form-control" ng-disabled="true">
            </div>
            <div class="col-sm-4">
                <input type="text" ng-model="contactInfo.infoValue" class="form-control">
            </div>
            <div class="col-sm-2">
                <input type="checkbox" ng-model="contactInfo.primaryContact"><label>Primary Contact</label>
            </div>
        </div>

    </div>

</div>
<div class="well">
    <h5>Notes</h5>
    <div class="row">
        <div class="col-sm-12">
            <input type="text" class="form-control" ng-model="Dispatch.Note" placeholder="Notes">
        </div>
    </div>
</div>
<div class="well" ng-if="!IsEdit">
    <h5>Received Method</h5>
    <div class="row">
        <div class="col-sm-12">
            <select class="form-control dropdown" ng-model="selectedReceivedType"
                    ng-options="receivedType for receivedType in receivedTypes" dropdown ng-change="clearReceivedMethod()">
                <option value="">-- Select Inspection Type --</option>
            </select>
        </div>
    </div>
    <div class="row" ng-hide="selectedReceivedType !== 'Other'">
        <div class="col-sm-12">
            <input type="text" class="form-control" ng-model="Dispatch.receivedByMethod" placeholder="Other Received Method" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-10 col-sm-3">
        <button class="btn btn-success" ng-click="SaveNewContact()" ng-hide="IsEdit">Submit</button>
        <button class="btn btn-success" ng-click="UpdateDispatch()" ng-hide="!IsEdit">Update</button>
        <button class="btn btn-warning" ng-click="CancelDispatch()">Cancel</button>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />