﻿.hidden-row {
    padding: 0 !important;
}

.jumbotron {
    background-color: transparent;
    padding-bottom: 24px;
}

.pac-container {
    z-index: 99999999;
}

.alert-notification {
    position: absolute;
    top: 10%;
    right: 5%;
    opacity: 0.89;
    z-index: 1051;
}


#left-access-panel {
    background-color: #00ABEC;
    color: white;
    overflow: auto;
}

.watermark {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 600%;
    opacity: 0.4;
    z-index: 10000;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index: 9000;
    filter: alpha(opacity=80);
}

#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

.app-modal-window, .large-modal {
    width: 1000px;
}

.engravedText {
    border: 5px thick #E0E0E0;
    line-height: 60px;
    font-family: "Century Gothic", "Helvetica", sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-left: 30px;
    color: #E0E0E0;
    opacity: .5;
    text-shadow: 0px -1px 0px #bebdbd;
}

.content {
    height: 40em;
    overflow-y: auto;
}

#accept {
    margin-bottom: 40px;
    margin-top: 10px;
}

.footer {
    background: white;
}

.list {
    /*height of footer is 61px*/
    margin-bottom: 61px;
}
%content {
  font-size: 32px;
  text-align: center;
  margin: 0 5px;
}
.bin {
 display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.item {
 display: block;
  width: 100%;
  height: 24px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.drag {
  opacity: 0.5;
}
.over {
  background: red;
}
.popover-content {
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
}