<ul class="breadcrumb">
  <li ng-repeat="bc in breadcrumbs" ng-class="{true: 'active'}[$last]">
    <span ng-if="!$last"><a ng-click="reset($index)" ng-href="{{bc.href}}">{{bc.label}}</a></span>
    <span ng-if="$last">{{bc.label}}</span>
  </li>
</ul>
